{% extends "camera/sidebar.html" %}
{% block body_block %}
<br>
<div class="container">
    <div class="card text-center">
        {% if user.is_authenticated %}
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index'%}">Vanilla Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">AI Feed 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">AI Feed 2</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title display-4">Welcome {{ user.username }}!</h5>
            <img src="{% url 'camera:face_detect' %}" alt="error">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        {% else %}
        <h2>Register or Login if you'd like to</h2>
        {% endif %}
    </div>
</div>
{% endblock %}