{% extends 'camera/sidebar.html' %}
{% block body_block %}
<div class="container">
    <br>
    <div class="jumbotron">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <h1>Login here :</h1>
        <form method="post" action="{% url 'camera:user_login' %}">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Login">
        </form>
    </div>
</div>
{% endblock %}